# Description
This notebook extract useful metrics from the plaques dataset or some part of
it. It relies on trackmate results to extract this information. Three metrics
are considered: number of infected cells, radius of the plaque, and radial
velocity of infected cells. Only considering infected cells, because these are
the only cells visible in the microscopy images at hand. Metrics are modeled
using a mean and standard deviation for each point in time that there is image
for it. Time is in hours post infection (hpi). Results are saved into a csv file
to be used as a reference to evaluate simulations in infectio.

# Implementation

## Part 1: choose set of files

In [1]:
import os
import pandas as pd
import numpy as np

### For WR virus    

Note: **Quick Fix**

The dataset needs to be changed to be used here. Because in many of the
of the experiments, two or more initial spots are infected and therefore center
and radii computations are not correct. As a quick fix for now, I am considering
only a few of the experiements that consist only of one plaque. For M061-WR
these are: 6, 8, 9, 11, 13, 14.

In [14]:
dataset_name = 'M061_WR_handpicked'
CSV_ROOT = "../dataset/plaques-ashkan/trackmate_output/dVGF_dF11_viruses/M061"
# include only files in range of 1 to 15 in their names, these are basic WR files
# Only consider quick fix files
single_plaque_files = [6, 8, 9, 11, 13, 14]
csv_files = [f for f in os.listdir(CSV_ROOT) if f.endswith(".csv") and int(f.split("-")[0]) in single_plaque_files]
csv_files

['8-spots.csv',
 '11-spots.csv',
 '9-spots.csv',
 '13-spots.csv',
 '6-spots.csv',
 '14-spots.csv']

### For dVGF

In [23]:
dataset_name = 'M061_dVGF_handpicked'
CSV_ROOT = "../dataset/plaques-ashkan/trackmate_output/dVGF_dF11_viruses/M061"
# include only files in range of 16 to 30 in their names, these are dVGF files
# Only consider quick fix files
single_plaque_files = [16, 17, 18, 21, 22, 23, 25, 27, 28, 29, 30]
csv_files = [f for f in os.listdir(CSV_ROOT) if f.endswith(".csv") and int(f.split("-")[0]) in single_plaque_files]
csv_files

['22-spots.csv',
 '17-spots.csv',
 '29-spots.csv',
 '30-spots.csv',
 '23-spots.csv',
 '16-spots.csv',
 '28-spots.csv',
 '25-spots.csv',
 '18-spots.csv',
 '21-spots.csv',
 '27-spots.csv']

### For dF11

In [32]:
dataset_name = 'M061_dF11_handpicked'
CSV_ROOT = "../dataset/plaques-ashkan/trackmate_output/dVGF_dF11_viruses/M061"
# include only files in range of 31 to 45 in their names, these are dF11 files
# Only consider quick fix files
single_plaque_files = [31, 32, 33, 34, 36, 37, 38, 40, 41, 44, 45]  # Remove 35 because first frames no spots
csv_files = [f for f in os.listdir(CSV_ROOT) if f.endswith(".csv") and int(f.split("-")[0]) in single_plaque_files]
csv_files

['41-spots.csv',
 '36-spots.csv',
 '40-spots.csv',
 '37-spots.csv',
 '31-spots.csv',
 '34-spots.csv',
 '45-spots.csv',
 '32-spots.csv',
 '38-spots.csv',
 '44-spots.csv',
 '33-spots.csv']

### For dVGF/dF11

In [2]:
import os
import pandas as pd
import numpy as np

dataset_name = 'M061_dVGFdF11_handpicked'
CSV_ROOT = "../dataset/plaques-ashkan/trackmate_output/dVGF_dF11_viruses/M061"
# include only files in range of 46 to 60 in their names, these are dVGF/dF11 files
# Only consider quick fix files
single_plaque_files = [46, 48, 49, 50, 51, 52, 53, 55, 57, 58, 60]  # exclude 54, 56, 59, also 47 because first few frames not enough (less than 3) spots
csv_files = [f for f in os.listdir(CSV_ROOT) if f.endswith(".csv") and int(f.split("-")[0]) in single_plaque_files]
csv_files

['55-spots.csv',
 '60-spots.csv',
 '58-spots.csv',
 '53-spots.csv',
 '46-spots.csv',
 '52-spots.csv',
 '57-spots.csv',
 '51-spots.csv',
 '48-spots.csv',
 '50-spots.csv',
 '49-spots.csv']

## Part 2: add the time stamps of the time series data

In [3]:
# Because the imaging of the dataset starts with 20 h.p.i and ends 48 hpi with
# 10 minute intervals
time_stamps = [round(x, 2) for x in np.linspace(20.0, 48.0, 169).tolist()]
refdf = pd.DataFrame({'t': time_stamps})

print(refdf)

         t
0    20.00
1    20.17
2    20.33
3    20.50
4    20.67
..     ...
164  47.33
165  47.50
166  47.67
167  47.83
168  48.00

[169 rows x 1 columns]

## Part 3: infected count metrics

In [5]:
unique_track_id_counts = []

for file in csv_files:
    df = pd.read_csv(os.path.join(CSV_ROOT, file), skiprows=[1, 2, 3], low_memory=False)
    unique_counts = df.groupby('FRAME')['TRACK_ID'].nunique()
    unique_track_id_counts.append(unique_counts)

all_counts_df = pd.concat(unique_track_id_counts, axis=1)

[[17, 6, 3, 19, 20, 19, 10, 13, 4, 9, 29], [19, 6, 3, 21, 20, 19, 10, 13, 4, 9, 30], [21, 6, 3, 20, 21, 18, 12, 13, 4, 9, 33], [21, 7, 4, 23, 20, 20, 13, 13, 3, 9, 34], [24, 9, 6, 24, 20, 20, 13, 14, 3, 11, 33], [24, 10, 7, 26, 20, 20, 13, 17, 4, 11, 34], [25, 9, 7, 25, 20, 22, 15, 17, 4, 11, 37], [26, 10, 8, 25, 20, 23, 15, 17, 5, 12, 37], [27, 10, 9, 25, 20, 22, 17, 19, 5, 13, 37], [26, 12, 10, 29, 20, 25, 17, 21, 5, 14, 37], [30, 13, 10, 29, 21, 25, 18, 21, 5, 14, 38], [32, 13, 10, 28, 21, 25, 19, 21, 5, 15, 40], [35, 13, 10, 30, 21, 25, 19, 23, 5, 16, 41], [34, 13, 10, 30, 21, 27, 19, 23, 5, 15, 42], [36, 13, 10, 30, 22, 28, 20, 25, 5, 17, 45], [37, 13, 10, 30, 24, 28, 22, 25, 5, 18, 45], [38, 13, 10, 32, 24, 28, 22, 25, 6, 18, 47], [37, 14, 10, 33, 27, 28, 24, 25, 6, 18, 49], [40, 16, 10, 33, 28, 29, 24, 27, 6, 17, 51], [42, 16, 13, 38, 29, 29, 23, 27, 7, 17, 51], [45, 16, 13, 39, 31, 30, 23, 27, 8, 17, 55], [46, 16, 12, 41, 31, 32, 23, 28, 8, 19, 57], [48, 19, 12, 42, 32, 32, 23, 28, 8, 19, 64], [53, 19, 12, 44, 31, 33, 24, 27, 10, 18, 66], [53, 21, 13, 44, 35, 34, 26, 29, 11, 19, 71], [55, 21, 14, 46, 40, 35, 27, 30, 13, 20, 73], [56, 21, 14, 48, 40, 36, 26, 32, 13, 21, 76], [57, 23, 14, 47, 40, 39, 26, 35, 13, 21, 82], [63, 23, 13, 49, 44, 41, 26, 36, 13, 23, 84], [65, 24, 14, 51, 46, 42, 26, 37, 13, 23, 90], [66, 25, 14, 51, 47, 45, 26, 38, 14, 24, 96], [68, 25, 14, 55, 50, 45, 27, 39, 15, 25, 97], [69, 24, 14, 57, 50, 45, 27, 39, 15, 25, 104], [70, 25, 14, 59, 50, 50, 27, 42, 15, 26, 105], [75, 26, 15, 65, 51, 51, 27, 44, 16, 26, 107], [75, 27, 16, 73, 51, 51, 27, 46, 16, 27, 112], [77, 29, 17, 75, 52, 53, 29, 47, 17, 26, 113], [77, 30, 16, 76, 52, 53, 31, 48, 18, 28, 115], [80, 31, 16, 79, 52, 58, 32, 49, 19, 30, 117], [79, 35, 17, 83, 54, 61, 34, 48, 19, 31, 118], [84, 35, 19, 84, 58, 59, 36, 48, 20, 33, 121], [86, 35, 20, 89, 58, 61, 38, 50, 21, 33, 127], [85, 36, 23, 89, 59, 63, 39, 52, 23, 34, 130], [91, 37, 24, 91, 63, 65, 40, 52, 24, 36, 131], [91, 38, 26, 91, 64, 70, 40, 52, 25, 40, 137], [92, 40, 26, 93, 66, 69, 41, 53, 28, 40, 141], [92, 41, 28, 96, 67, 75, 42, 54, 28, 40, 144], [93, 43, 29, 103, 70, 79, 45, 54, 29, 39, 145], [97, 43, 29, 107, 70, 81, 45, 55, 29, 40, 147], [99, 46, 32, 104, 69, 82, 44, 58, 29, 43, 153], [102, 46, 33, 110, 73, 86, 45, 59, 29, 44, 160], [107, 49, 33, 119, 73, 87, 45, 61, 29, 47, 163], [109, 49, 32, 124, 74, 90, 46, 61, 31, 51, 167], [111, 50, 34, 126, 76, 91, 49, 62, 32, 50, 176], [111, 55, 36, 127, 78, 94, 52, 63, 32, 53, 181], [114, 59, 36, 134, 78, 95, 54, 65, 34, 55, 183], [117, 59, 36, 135, 80, 96, 57, 67, 37, 56, 186], [120, 61, 37, 140, 82, 100, 59, 67, 37, 59, 189], [121, 64, 39, 143, 84, 101, 61, 70, 37, 59, 193], [125, 66, 39, 147, 86, 105, 64, 72, 37, 59, 197], [126, 65, 42, 148, 88, 108, 64, 73, 38, 60, 197], [131, 68, 44, 151, 89, 109, 64, 74, 40, 62, 198], [135, 72, 46, 155, 92, 109, 65, 74, 41, 64, 201], [137, 74, 49, 158, 96, 112, 65, 74, 43, 65, 206], [136, 76, 50, 164, 96, 113, 65, 74, 45, 68, 205], [138, 79, 50, 168, 96, 117, 66, 75, 46, 71, 207], [140, 78, 50, 170, 98, 116, 66, 80, 49, 73, 209], [143, 81, 52, 174, 101, 116, 70, 84, 50, 75, 218], [149, 83, 52, 181, 103, 118, 72, 87, 52, 78, 223], [155, 83, 55, 179, 106, 121, 72, 91, 54, 79, 228], [161, 88, 55, 182, 110, 121, 73, 92, 56, 81, 234], [165, 89, 55, 189, 113, 127, 76, 90, 57, 83, 240], [166, 91, 56, 190, 114, 127, 76, 92, 59, 84, 248], [167, 94, 59, 193, 117, 130, 75, 97, 61, 87, 254], [171, 97, 61, 199, 118, 132, 76, 99, 63, 88, 258], [175, 102, 62, 202, 123, 137, 79, 103, 66, 90, 260], [176, 103, 64, 205, 125, 140, 81, 105, 65, 91, 262], [181, 104, 64, 207, 129, 142, 83, 110, 66, 94, 269], [183, 101, 63, 210, 128, 145, 83, 113, 68, 95, 273], [189, 104, 64, 217, 132, 145, 84, 115, 69, 97, 278], [189, 107, 65, 222, 137, 148, 85, 120, 70, 98, 282], [195, 111, 68, 224, 141, 152, 85, 121, 73, 101, 289], [203, 114, 68, 228, 141, 151, 88, 121, 76, 100, 288], [207, 113, 71, 233, 145, 155, 90, 123, 81, 99, 292], [214, 115, 72, 240, 149, 162, 96, 123, 84, 100, 293], [217, 119, 73, 245, 152, 167, 98, 128, 86, 104, 305], [223, 121, 71, 246, 159, 170, 100, 127, 88, 108, 311], [227, 122, 74, 250, 161, 169, 102, 128, 91, 110, 315], [234, 127, 74, 258, 164, 171, 102, 128, 95, 115, 327], [239, 129, 79, 267, 175, 176, 104, 131, 99, 116, 334], [247, 132, 82, 275, 181, 178, 105, 133, 100, 115, 340], [252, 136, 84, 273, 186, 179, 108, 137, 104, 119, 344], [252, 141, 85, 283, 189, 190, 110, 138, 105, 119, 355], [259, 144, 86, 288, 189, 196, 111, 144, 108, 123, 364], [262, 147, 92, 289, 193, 200, 112, 144, 111, 125, 375], [265, 148, 94, 294, 199, 204, 112, 146, 115, 129, 380], [274, 152, 93, 303, 204, 207, 112, 148, 118, 132, 385], [283, 154, 97, 307, 207, 211, 115, 151, 118, 136, 390], [284, 157, 99, 311, 212, 216, 116, 156, 123, 135, 396], [285, 159, 100, 309, 217, 220, 118, 157, 122, 136, 403], [290, 160, 104, 315, 219, 224, 118, 156, 124, 139, 412], [296, 162, 104, 319, 220, 230, 121, 161, 125, 141, 413], [306, 166, 105, 325, 229, 233, 124, 161, 130, 145, 422], [314, 168, 106, 327, 232, 240, 125, 159, 130, 152, 427], [320, 169, 108, 333, 236, 242, 126, 162, 130, 159, 432], [325, 175, 109, 339, 239, 244, 127, 161, 139, 159, 440], [324, 178, 111, 346, 238, 248, 128, 166, 140, 158, 443], [330, 180, 114, 349, 242, 254, 129, 170, 141, 160, 446], [333, 181, 117, 357, 248, 256, 131, 176, 144, 164, 454], [341, 184, 119, 361, 254, 259, 134, 182, 150, 170, 463], [341, 184, 127, 369, 257, 264, 136, 184, 156, 173, 469], [349, 183, 130, 376, 261, 264, 136, 187, 158, 175, 477], [350, 187, 131, 382, 266, 279, 142, 195, 167, 181, 481], [354, 193, 134, 381, 269, 283, 144, 198, 169, 184, 490], [360, 195, 137, 385, 273, 283, 149, 206, 172, 192, 501], [365, 202, 139, 398, 281, 287, 150, 210, 176, 197, 509], [369, 205, 141, 402, 286, 291, 158, 213, 181, 200, 518], [373, 205, 142, 409, 290, 291, 156, 215, 186, 201, 528], [378, 206, 144, 414, 295, 295, 160, 219, 188, 206, 534], [390, 211, 147, 425, 299, 302, 165, 222, 189, 212, 533], [395, 214, 149, 432, 305, 310, 169, 222, 192, 214, 542], [399, 219, 152, 429, 306, 312, 170, 230, 195, 219, 549], [409, 221, 156, 439, 310, 320, 174, 232, 204, 221, 561], [413, 224, 154, 442, 315, 331, 178, 236, 207, 224, 567], [419, 228, 156, 450, 317, 331, 177, 238, 212, 228, 576], [425, 231, 161, 459, 326, 335, 182, 242, 219, 232, 582], [429, 230, 165, 457, 325, 336, 185, 246, 221, 238, 589], [434, 238, 170, 467, 331, 341, 187, 247, 223, 242, 595], [443, 240, 169, 471, 339, 344, 189, 256, 230, 250, 596], [446, 244, 174, 473, 344, 347, 195, 266, 236, 255, 602], [453, 248, 174, 478, 355, 351, 202, 269, 241, 259, 611], [462, 252, 179, 486, 359, 356, 204, 276, 244, 265, 613], [472, 252, 182, 491, 365, 359, 207, 283, 249, 272, 620], [477, 255, 186, 502, 367, 372, 211, 289, 253, 275, 629], [484, 261, 193, 507, 371, 381, 212, 291, 256, 278, 639], [496, 270, 197, 514, 371, 383, 217, 291, 264, 285, 654], [504, 273, 203, 519, 375, 388, 218, 292, 268, 290, 655], [506, 276, 205, 518, 382, 387, 218, 296, 272, 294, 670], [513, 280, 208, 528, 384, 398, 223, 298, 275, 291, 679], [518, 279, 212, 535, 386, 406, 226, 299, 285, 299, 693], [525, 281, 219, 543, 399, 410, 231, 304, 288, 302, 699], [536, 285, 218, 553, 410, 417, 235, 308, 295, 303, 697], [538, 290, 219, 561, 411, 426, 238, 311, 297, 307, 698], [542, 295, 221, 577, 418, 429, 242, 315, 306, 315, 708], [560, 297, 225, 586, 423, 437, 245, 324, 309, 317, 717], [566, 302, 231, 593, 421, 447, 248, 326, 313, 315, 721], [571, 304, 235, 599, 434, 458, 250, 335, 311, 320, 727], [575, 313, 239, 598, 435, 463, 256, 335, 316, 327, 742], [583, 320, 242, 611, 438, 468, 258, 346, 319, 327, 749], [585, 320, 248, 613, 450, 474, 263, 349, 317, 327, 756], [592, 322, 253, 615, 452, 480, 268, 354, 328, 330, 759], [602, 323, 258, 623, 464, 482, 271, 359, 331, 339, 768], [609, 329, 261, 634, 468, 491, 271, 369, 336, 348, 777], [608, 336, 264, 640, 482, 505, 274, 373, 341, 352, 773], [620, 338, 265, 645, 483, 517, 279, 376, 349, 358, 788], [632, 345, 270, 656, 489, 523, 281, 382, 356, 359, 795], [637, 347, 276, 666, 488, 529, 282, 386, 356, 368, 809], [644, 346, 282, 670, 497, 542, 287, 387, 357, 371, 815], [645, 353, 281, 681, 504, 552, 291, 391, 367, 378, 824], [656, 360, 284, 689, 504, 558, 300, 402, 374, 388, 827], [661, 365, 292, 703, 507, 563, 300, 401, 378, 388, 836], [673, 374, 295, 714, 518, 571, 302, 397, 384, 398, 853], [674, 377, 300, 727, 531, 574, 306, 400, 393, 400, 870], [676, 386, 306, 730, 539, 586, 313, 408, 394, 406, 885], [694, 385, 313, 742, 547, 594, 318, 416, 399, 413, 894], [712, 388, 316, 752, 550, 597, 317, 418, 408, 413, 904], [723, 393, 323, 764, 556, 599, 321, 426, 415, 417, 903], [729, 392, 326, 775, 570, 611, 322, 427, 416, 426, 913], [724, 390, 320, 761, 567, 605, 322, 425, 415, 423, 908]]

In [7]:
# Adding count values to refdf
# Calculate average and standard deviation for each frame
average_counts = all_counts_df.mean(axis=1)
std_dev_counts = all_counts_df.std(axis=1)
# also add list of all numbers for 2sample test. for backward compability, keep
# the mean and std cols as well

# print(average_counts, std_dev_counts)
refdf['inf-count-mean'] = average_counts
refdf['inf-count-std'] = std_dev_counts

refdf['inf-count-list'] = all_counts_df.values.tolist()
refdf

,t,inf-count-mean,inf-count-std,inf-count-list
0,20.00,13.545455,8.029491,"[17, 6, 3, 19, 20, 19, 10, 13, 4, 9, 29]"
1,20.17,14.000000,8.473488,"[19, 6, 3, 21, 20, 19, 10, 13, 4, 9, 30]"
2,20.33,14.545455,9.070431,"[21, 6, 3, 20, 21, 18, 12, 13, 4, 9, 33]"
3,20.50,15.181818,9.400193,"[21, 7, 4, 23, 20, 20, 13, 13, 3, 9, 34]"
4,20.67,16.090909,8.971673,"[24, 9, 6, 24, 20, 20, 13, 14, 3, 11, 33]"
...,...,...,...,...
164,47.33,519.545455,190.898593,"[694, 385, 313, 742, 547, 594, 318, 416, 399, ..."
165,47.50,525.000000,194.767554,"[712, 388, 316, 752, 550, 597, 317, 418, 408, ..."
166,47.67,530.909091,194.594684,"[723, 393, 323, 764, 556, 599, 321, 426, 415, ..."
167,47.83,537.000000,198.061102,"[729, 392, 326, 775, 570, 611, 322, 427, 416, ..."
168,48.00,532.727273,195.820372,"[724, 390, 320, 761, 567, 605, 322, 425, 415, ..."

## Part 4: Area & radius reference metrics
Area would be a better metric instead of radius.

In [36]:
from scipy.spatial import ConvexHull

def get_convex_radius(points):
    if len(points) < 3:
        return 0
    hull = ConvexHull(points)
    boundary_points = points[hull.vertices]
    center = np.mean(boundary_points, axis=0)
    radii = (boundary_points - center)
    radii = np.linalg.norm(radii, axis=1)
    return radii.mean()

def get_area(points):
    if len(points) < 3:
        return 0
    hull = ConvexHull(points)
    return hull.volume  # Remember that .volume method gives the area in 2d and not .area

In [37]:
all_radii_stats = []
all_area_stats = []

for file in csv_files:
    df = pd.read_csv(os.path.join(CSV_ROOT, file), skiprows=[1, 2, 3], low_memory=False)
    points_vs_frame = df.groupby('FRAME').apply(lambda x: x[['POSITION_X', 'POSITION_Y']].values)
    radii_vs_frame = [get_convex_radius(points) for points in points_vs_frame]
    area_vs_frame = [get_area(points) for points in points_vs_frame]
    # remove any zeros in there
    radii_vs_frame = [r for r in radii_vs_frame if r != 0]
    all_radii_stats.append(radii_vs_frame)
    all_area_stats.append(area_vs_frame)

In [38]:
array_of_lists = np.array(all_radii_stats) # (Correction: apparently Fiji already counts in the pixel length and width) * 3.1746  # because this dataset, both pixel width and height are this number in microns. 
mean_radii = array_of_lists.mean(axis=0)
std_radii = array_of_lists.std(axis=0)

refdf['radius-mean(um)'] = mean_radii
refdf['radius-std(um)'] = std_radii

area_array_of_lists = np.array(all_area_stats)
mean_area = area_array_of_lists.mean(axis=0)
std_area = area_array_of_lists.std(axis=0)

refdf['area-mean(um2)'] = mean_area
refdf['area-std(um2)'] = std_area

refdf

,t,inf-count-mean,inf-count-std,radius-mean(um),radius-std(um),area-mean(um2),area-std(um2)
0,20.00,8.454545,4.390071,50.775458,16.695897,6329.897458,5058.395235
1,20.17,8.818182,4.190899,51.469313,16.068189,6738.964437,4956.375937
2,20.33,9.363636,4.433345,52.236234,16.578712,6949.618190,5200.132492
3,20.50,10.272727,4.692354,55.131957,16.693659,7757.873227,5601.432696
4,20.67,10.636364,4.822297,57.225456,15.660132,8319.521243,5540.309176
...,...,...,...,...,...,...,...
164,47.33,540.545455,103.941679,502.870874,114.122022,818956.247324,256073.083318
165,47.50,546.545455,106.215219,493.045570,105.914216,827120.347954,253250.178784
166,47.67,551.454545,105.298019,500.333248,114.702915,835214.300623,250179.149789
167,47.83,557.818182,103.831419,502.874965,114.966366,836713.306692,246823.017673
168,48.00,553.181818,103.254848,502.558960,105.531737,838029.865847,246943.531279

## Part 5: Radial velocity reference metrics

In [39]:
# 1. for each file:
# 2. compute the center of for all infected points in the first frame and consider it as center
# 3. for each trackid, compute maximum radial velocity
# 4. average all of these values to get the radial velocity for the file

def max_upto_each_index(arr):
    result = []
    max_index = []
    for i in range(len(arr)):
        max_index.append(np.argmax(arr[:i+1]))
        result.append(arr[max_index[-1]])
    return np.array(result), np.array(max_index)

def compute_radial_velocity_of_trackmate_csvfile(csv_file):
    # Radial velocity is computed as the average of maximum radial component (rho)
    # of tracks divided by the time spent to reach that maximum
    df = pd.read_csv(csv_file, skiprows=[1, 2, 3], low_memory=False)
    firstframe_points = df[df['FRAME'] == 0][['POSITION_X', 'POSITION_Y']].values
    center = np.mean(firstframe_points, axis=0)
    max_frame = df['FRAME'].max()
    max_radial_velocities = []
    
    trackids = df['TRACK_ID'].unique()
    for trackid in trackids:
        points_framesorted = df[df['TRACK_ID'] == trackid][['POSITION_X', 'POSITION_Y', 'FRAME']].sort_values(by=['FRAME'])
        frames = points_framesorted['FRAME'].values
        points_framesorted = points_framesorted[['POSITION_X', 'POSITION_Y']].values
        radial_vector = points_framesorted - center
        rhos = np.linalg.norm(radial_vector, axis=1)
        t0 = frames[0]
        rho0 = rhos[0]
        max_rho, max_t = max_upto_each_index(rhos)
        # skip first value since division by 0
        max_radial_velocity = [0 if t==0 else (r-rho0)/(t) for r,t in zip(max_rho[1:], max_t[1:])]
        # fill the first entries with nans so that in the end you can sum non nans, 
        # because some radial velocities can actually be 0s
        full_size_max_rad_vel = np.full((max_frame+1,), np.nan)
        full_size_max_rad_vel[t0+1:t0+1+len(max_radial_velocity)] = np.array(max_radial_velocity)
        max_radial_velocities.append(full_size_max_rad_vel)
    max_radial_velocities = np.nanmean(max_radial_velocities, axis=0)
    # rad vel for first frame is 0
    max_radial_velocities[0] = 0
    return max_radial_velocities

all_radial_velocities = []

for file in csv_files:
    radial_velocity = compute_radial_velocity_of_trackmate_csvfile(os.path.join(CSV_ROOT, file))
    all_radial_velocities.append(radial_velocity)
all_radial_velocities = np.array(all_radial_velocities)
# divide everything by 10 because these numbers are um/1Frame and 1Frame=10min and we want um/min
all_radial_velocities = all_radial_velocities / 10

# replace 0 with nan so we can compute the mean and std without including zeros
# all_radial_velocities[all_radial_velocities == 0] = np.nan
mean_radial_velocity = np.nanmean(all_radial_velocities, axis=0)
std_radial_velocity = np.nanstd(all_radial_velocities, axis=0)

refdf['radial-velocity-mean(um/min)'] = mean_radial_velocity
refdf['radial-velocity-std(um/min)'] = std_radial_velocity

refdf

/var/folders/34/7vrvs7ts667_lxxqxdk42tlh0000gp/T/ipykernel_93946/1026467854.py:40: RuntimeWarning: Mean of empty slice
  max_radial_velocities = np.nanmean(max_radial_velocities, axis=0)
/var/folders/34/7vrvs7ts667_lxxqxdk42tlh0000gp/T/ipykernel_93946/1026467854.py:40: RuntimeWarning: Mean of empty slice
  max_radial_velocities = np.nanmean(max_radial_velocities, axis=0)
/var/folders/34/7vrvs7ts667_lxxqxdk42tlh0000gp/T/ipykernel_93946/1026467854.py:40: RuntimeWarning: Mean of empty slice
  max_radial_velocities = np.nanmean(max_radial_velocities, axis=0)
/var/folders/34/7vrvs7ts667_lxxqxdk42tlh0000gp/T/ipykernel_93946/1026467854.py:40: RuntimeWarning: Mean of empty slice
  max_radial_velocities = np.nanmean(max_radial_velocities, axis=0)
/var/folders/34/7vrvs7ts667_lxxqxdk42tlh0000gp/T/ipykernel_93946/1026467854.py:40: RuntimeWarning: Mean of empty slice
  max_radial_velocities = np.nanmean(max_radial_velocities, axis=0)
/var/folders/34/7vrvs7ts667_lxxqxdk42tlh0000gp/T/ipykernel_93946/1026467854.py:40: RuntimeWarning: Mean of empty slice
  max_radial_velocities = np.nanmean(max_radial_velocities, axis=0)
/var/folders/34/7vrvs7ts667_lxxqxdk42tlh0000gp/T/ipykernel_93946/1026467854.py:40: RuntimeWarning: Mean of empty slice
  max_radial_velocities = np.nanmean(max_radial_velocities, axis=0)
/var/folders/34/7vrvs7ts667_lxxqxdk42tlh0000gp/T/ipykernel_93946/1026467854.py:40: RuntimeWarning: Mean of empty slice
  max_radial_velocities = np.nanmean(max_radial_velocities, axis=0)
/var/folders/34/7vrvs7ts667_lxxqxdk42tlh0000gp/T/ipykernel_93946/1026467854.py:40: RuntimeWarning: Mean of empty slice
  max_radial_velocities = np.nanmean(max_radial_velocities, axis=0)
/var/folders/34/7vrvs7ts667_lxxqxdk42tlh0000gp/T/ipykernel_93946/1026467854.py:40: RuntimeWarning: Mean of empty slice
  max_radial_velocities = np.nanmean(max_radial_velocities, axis=0)
/var/folders/34/7vrvs7ts667_lxxqxdk42tlh0000gp/T/ipykernel_93946/1026467854.py:40: RuntimeWarning: Mean of empty slice
  max_radial_velocities = np.nanmean(max_radial_velocities, axis=0)

,t,inf-count-mean,inf-count-std,radius-mean(um),radius-std(um),area-mean(um2),area-std(um2),radial-velocity-mean(um/min),radial-velocity-std(um/min)
0,20.00,8.454545,4.390071,50.775458,16.695897,6329.897458,5058.395235,0.000000,0.000000
1,20.17,8.818182,4.190899,51.469313,16.068189,6738.964437,4956.375937,0.070642,0.049695
2,20.33,9.363636,4.433345,52.236234,16.578712,6949.618190,5200.132492,0.069266,0.033415
3,20.50,10.272727,4.692354,55.131957,16.693659,7757.873227,5601.432696,0.064372,0.024805
4,20.67,10.636364,4.822297,57.225456,15.660132,8319.521243,5540.309176,0.066776,0.030413
...,...,...,...,...,...,...,...,...,...
164,47.33,540.545455,103.941679,502.870874,114.122022,818956.247324,256073.083318,0.057487,0.002722
165,47.50,546.545455,106.215219,493.045570,105.914216,827120.347954,253250.178784,0.057716,0.002784
166,47.67,551.454545,105.298019,500.333248,114.702915,835214.300623,250179.149789,0.057566,0.003046
167,47.83,557.818182,103.831419,502.874965,114.966366,836713.306692,246823.017673,0.056964,0.002588
168,48.00,553.181818,103.254848,502.558960,105.531737,838029.865847,246943.531279,0.056452,0.002690

## Part 6: Saving the reference metrics

In [40]:
save_path = os.path.join('..', 'output', 'reference_metrics_for_'+ dataset_name + '.csv')
refdf.to_csv(save_path, index=False)